/* reset di pagina e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* /reset di pagina e utility class */
.container{
  width: 1200px;
  background-color: black;
  margin: 0 auto;
}
 header{
  background-color: yellow;
  height: 100px;
}
main{
  background-color: green;
  height: 800px;
}
footer{
  height: 80px;
  background-color: azure;
}
